button {
          cursor: pointer;
          margin: 0 8 0 0;
        }
      
.s {
  background-color: rgb(220, 0, 0);
  color: white;
  border: none;
  padding: 10 16 10 16;
  border-radius: 3px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.s:hover{
  opacity: 0.75;
}

.s:active{
  opacity: 0.5;
}

.j {
  background-color: white;
  color: rgb(29, 155, 240);
  border-color: rgb(29, 155, 240);
  border-style: solid;
  border-width: 1px;
  padding: 9 16 9 16;
  border-radius: 3px;

  transition: background_color 0.15s, color 0.15s;
}

.j:hover{
  background-color: rgb(29, 155, 240);
  color: white;
  border-color: white;
}

.j:active{
  opacity: 0.75;
}

.t {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-style: solid;
  border-width: 1px;
  padding: 9 16 9 16;
  border-radius: 18px;
  font-weight: bold;
  font-size: 14px;
  transition: box-shadow 0.2s;
}

.t:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}