
    p {
      font-family: Roboto;
      margin-top: 0;
    }

    .vid-title{
      font-size: 18px;
      font-weight: bold;
      width: 284px;
      line-height: 24px;
      margin-bottom: 5px;
    }

    .vid-stats{
      margin-bottom: 20px;
      font-size: 14px;
      color: rgb(96, 96, 96);
    }

    .vid-author{
      font-size: 14px;
      color: rgb(96, 96, 96);
      margin: 0 0 20 0;
    }

    .vid-descr{
      font-family: Arial;
      font-size: 14px;
      color: rgb(96, 96, 96);
      width: 284px;
      line-height: 20px;
    }

    .apple-text{
      margin-bottom: 50px;
      font-size: 14px;
      text-align: center;
      background-color: rgb(227, 65, 64);
      color: white;
      padding: 18px;
    }

    .shop-link{
      transition: text-decoration 0.15s;
    }

    .shop-link:hover{
      text-decoration: underline;
      cursor: pointer
    }