.sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 1;
    padding-top: 5px;
}

.sidebar-link{
    background-color: white;
    height: 74px;
    display: flex;
    align-items: center;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link p{
    font-size: 10px;
}