.thumbnail{
    width: 100%;
}

.vid-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 20px;
}

.vid-author, .vid-stats{
    font-size: 12px;
    color: rgb(96,96,96);
}

.vid-author{
    margin-bottom: 4px;
}

.channel-pfp{
    width: 50px;
    vertical-align: top;
}
.vid-info{
    width: 200px;
}
.pfp{
    width: 36px;
    border-radius: 25px;
}
.thumbnail-info-grid{
    margin-top: 12px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.vid-preview-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 16px;
}

.vid-preview{
    position: relative;
}

.vid-time{
    background-color: black;
    padding: 4px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    color: white;
    position: absolute;
    top: 110px;
    right: 5px;
}